body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#131720
}
form{
    color: white;
    margin: 50px auto;
    width: 50%;
    padding: 20px;
    background-color: #151f30;
}
input{
    width: 70%;
    height: 40px;
    padding:12px,20px;
    margin: 10px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: lightsteelblue;
}
button{
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: skyblue;
    color: black;
}

#otp_input{
    width: 20%;
}
#send{
    width: 20%;
}
#otp_text{
    border: solid;
    border-radius: 4px;
    color: red;
}
#username{
    display:block;
}
#otp{
    display: inline-block;
}
